*margin{
	margin:0;
	padding:0;
	font-family:sans "MS Serif", "New York", serif;
}
.team-section{
	overflow:hidden;
	text-align:center;
	background:#060564;
	padding-top:60px;
	width: 100%;
	margin-top: 15px;
	height: 525px;
}
.team-section h1{
	text-transform:uppercase;
	margin-bottom:60px;
	margin-top: -15px;
	color:white;
	font-size:40px;
}
.border{
	display:block;
	margin:auto;
	width:160px;
	height:3px;
	background:#06F;;
	margin-bottom:40px;
}
.name a{
	text-decoration: none;
	color: white
}
h1 a{
	text-decoration: none;
	color: white
}
.ps{
	margin-bottom:40px;
}
.ps a{
	display:inline-block;
	margin:0px 30px;
	width:160px;
	height:160px;
	overflow:hidden;
	border-radius:50%;
}
.ps a img{
	width:100%;
	filter:grayscale(100%);
	transition:0.4s all;
}
.ps a:hover> img{
	filter:none;
}
.section{
	width:600px;
	margin:auto;
	font-size:30px;
	color:white;
	text-align:center;	
	height:0;
	overflow:hidden;
}
.section:target{
	height:auto;
}
.name{
	display:block;
	margin-bottom:30px;
	text-align:center;
	text-transform:uppercase;
	font:18px;
}
ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #060564;
}
li {
    font-size: 20px;
    float: right;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 9px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #0b0994;
}
.mainHeader, .mainHeader a{
    color: white;
    display: inline-block;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 3px;
    font-family: fantasy;
    text-decoration: none;
    font-style: oblique;
}